[submodule "modules/hello-world"]
	path = modules/hello-world
	url = https://github.com/KissSpinobleZsolt/spi-module-hello-world.git
[submodule "modules/data-ingestion"]
	path = modules/data-ingestion
	url = https://github.com/KissSpinobleZsolt/spi-module-data-ingestion.git
[submodule "modules/vision-watch"]
	path = modules/vision-watch
	url = https://github.com/KissSpinobleZsolt/spi-module-vision-watch.git
