JWT_SECRET_KEY=change-me-in-production
ADMIN_EMAIL=admin@spin.local
ADMIN_PASSWORD=change-me
ADMIN_NAME=Admin
POSTGRES_USER=core-postgres
POSTGRES_PASSWORD=core-postgres
MONGO_USER=core-mongo
MONGO_PASSWORD=core-mongo
CLICKHOUSE_USER=core-ch
CLICKHOUSE_PASSWORD=core-ch
